.globalDataContainer {
    margin-top: 4rem;

    .globalDataContainerTitle {
        transition: 300ms;        

        &:hover {
            color: #2196f3;
            transform: scale(0.98);
        }
    }
}
