@use "../../style/" as *;

.card {
    padding: 10px;
    margin-top: 2rem;
    border: 2px solid $tertiary-color;
}


@media (max-width: 600px) {
    .card {
        margin-right: 3.75rem;
        margin-left: 3.75rem;
    }
    
}