@use "../../style/" as *;

.headerOptions {
    display: flex;
    margin-left: 2rem;
    margin-right: auto;
    justify-content: space-evenly;
    min-width: 20rem;

    .headerItem {
        border-radius: 0.625rem;
        &:hover {
            background-color: $tertiary-color; // TODO migliorare i colori
        }
    }
}
