@use "../../style/" as *;

/* TODO risolvere il problema del tema */
.Navbar {
    background-color: $primary-color-inverse !important;
    color: $secondary-color !important;
}

.Toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
