$primary-color: #FAF8FF;
$primary-color-inverse: #b3b2b6;
$secondary-color: #0F0F0F;
$tertiary-color: #AE3813;
$mui-primary: #1a76d3;

// graphs
$cases: rgba(26, 118, 211);
$cases-with-transparency: rgba(53, 162, 235, 0.5);
$death: rgb(255, 99, 132);
$death-with-transparency: rgba(255, 99, 132, 0.5); 

/* TODO eliminiare colori inutilizzati */
/* TODO cambiare colore a tutti i grafici */