$primary-color: #FAF8FF;
$mui-primary: #1a76d3;

// graphs
$cases: rgba(26, 118, 211);
$cases-with-transparency: rgba(53, 162, 235, 0.5);
$death: rgb(255, 99, 132);
$death-with-transparency: rgba(255, 99, 132, 0.5); 

